/* Color Primary */
.color-primary-lighter {
  color: #f0faff;
}
.color-primary-light {
  color: #b9ecfe;
}
.color-primary-main {
  color: #00a2db;
}
.color-primary-dark {
  color: #066386;
}
.color-primary-darker {
  color: #07344a;
}

/* Color Secondary */
.color-secondary-lighter {
  color: #fff9ec;
}
.color-secondary-light {
  color: #ffdfa6;
}
.color-secondary-main {
  color: #f96d01;
}
.color-secondary-dark {
  color: #a13f0b;
}
.color-secondary-darker {
  color: #461804;
}

/* Color Info */
.color-info-lighter {
  color: #cafdf5;
}
.color-info-light {
  color: #61f3f3;
}
.color-info-main {
  color: #00b8d9;
}
.color-info-dark {
  color: #006c9c;
}
.color-info-darker {
  color: #003768;
}

/* Color Success */
.color-success-lighter {
  color: #d3fcd2;
}
.color-success-light {
  color: #77ed8b;
}
.color-success-main {
  color: #22c55e;
}
.color-success-dark {
  color: #118d57;
}
.color-success-darker {
  color: #065e49;
}

/* Color Warning */
.color-warning-lighter {
  color: #fff5cc;
}
.color-warning-light {
  color: #ffd666;
}
.color-warning-main {
  color: #ffab00;
}
.color-warning-dark {
  color: #b76e00;
}
.color-warning-darker {
  color: #7a4100;
}

/* Color Error */
.color-error-lighter {
  color: #ffe9d5;
}
.color-error-light {
  color: #ffac82;
}
.color-error-main {
  color: #ff3b30;
}
.color-error-dark {
  color: #b71d18;
}
.color-error-darker {
  color: #7a0916;
}

/* Color Black, White and Grey */
.color-black-main {
  color: #121212;
}
.color-white-main {
  color: #ffffff;
}
.color-grey-main {
  color: #f6f7f8;
}
.color-grey-100 {
  color: #f9fafb;
}
.color-grey-200 {
  color: #f4f6f8;
}
.color-grey-300 {
  color: #dfe3e8;
}
.color-grey-400 {
  color: #c4cdd5;
}
.color-grey-500 {
  color: #919eab;
}
.color-grey-600 {
  color: #637381;
}
.color-grey-700 {
  color: #454f5b;
}
.color-grey-800 {
  color: #212b36;
}
